.logo {
  width:140px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 51, 102);
  padding: 0px 60px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  gap: -1000px;
  align-items: center;
}

.middle-section p {
  margin: 13px;
}

.school-name {
  font-family: Poppins, Arial;
  color: white;
  font-weight: Bold;
  font-size: 25px;
  letter-spacing: 2px;
}

.location {
  font-size: 17px;
  font-weight: Bold;
}

.form-title {
  font-family: 'Times New Roman', Times, serif, Arial;
  color: white;
  font-weight: Bold;
  font-size: 20px;
  letter-spacing: 3px;
}

.dotted-border {
  border: 2px dotted rgb(170, 169, 169);
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: gray;
}

.space-title {
  display: flex;
  font-family: Poppins, Arial;
  font-size: 18px;
  background-color: rgba(9, 56, 75, 0.781);
  color: white;
  margin-top: 20px;
  padding: 10px;
  
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group {
  display: flex;
  
}

.requirement-name {
  font-size: 18px;
  margin-top: 5px;
}

.user-input {
  width: 500px;
  border: none;
  border-bottom: 1px solid black;
  transition: border-color 0.3s;
  outline: none;
  
}

.user-input:focus {
  border: none;
  border-bottom: 2px solid blue; /* Change color when active */
}


/*.space-title-layout {
  display: flex;
  justify-content: center;
}*/

@media (max-width: 992px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
  }

  .logo {
    width: 120px;
    margin-right: 10px;
  }

  .middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; 
    text-align: center;
    flex-grow: 1;
  }

  .school-name {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  .location {
    font-size: 12px;
  }

  .form-title {
    font-size: 14px;
    letter-spacing: 0.5px; 
  }

  .dotted-border {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    text-align: center;
    font-size: 12px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }
}






